body {
  font-family: Arial, sans-serif;
}

/*Regular Link*/
a {
  text-decoration: none;
}

/*Hover */
a:hover {
  color: red;
}

/*Active*/
a:active {
  background-color: lightblue;
}

/*focus*/
a:focus {
  background-color: yellow;
}

/*Visited*/
a:visited {
  color: cornflowerblue;
}
